@media only screen and (max-width: 1080px)
{
    
}

@media only screen and (min-height: 2160px)
{
    header{
        height: 9vh;
    }

    .icon
    {
        width: 9vh;
    }

    .block img{
        width: 4vh;
    }
}