body{
    margin: 0;
}

a{
    text-decoration: none;
    color: #000;
}

a.roboto, h4.roboto, h5.roboto, h6.roboto, p.roboto, i.roboto, td.roboto, li.roboto{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
}

h1.roboto, h2.roboto, h3.roboto {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

b.roboto{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

@media only screen and (max-height: 1600px)
{
    h1{
        font-size: 140px;
    }
    h2{
        font-size: 128px;
    }
    h3{
        font-size: 106px;
    }
    h4{
        font-size: 94px;
    }
    h5{
        font-size: 72px;
    }
}
@media only screen and (max-height: 800px)
{
    h1{
        font-size: 94px;
    }
    h2{
        font-size: 72px;
    }
    h3{
        font-size: 60px;
    }
    h4{
        font-size: 48px;
    }
    h5{
        font-size: 36px;
    }
}