@media only screen and (max-width: 1080px)
{
    .center{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    /*VERTICAL OFFSET*/
    .offset.v1{
        margin-left: 1vw;
        margin-right: 1vw;
    }
    .offset.v2{
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .offset.v3{
        margin-left: 3vw;
        margin-right: 3vw;
    }
    .offset.v4{
        margin-left: 4vw;
        margin-right: 4vw;
    }
    .offset.v5{
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .offset.v6{
        margin-left: 6vw;
        margin-right: 6vw;
    }
    .offset.v7{
        margin-left: 7vw;
        margin-right: 7vw;
    }
    .offset.v8{
        margin-left: 8vw;
        margin-right: 8vw;
    }
    .offset.v9{
        margin-left: 9vw;
        margin-right: 9vw;
    }
    .offset.v10{
        margin-left: 10vw;
        margin-right: 10vw;
    }
    /*HORIZONTAL OFFSET*/
    .offset.h1{
        margin-left: 1vw;
        margin-right: 1vw;
    }
    .offset.h2{
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .offset.h3{
        margin-left: 3vw;
        margin-right: 3vw;
    }
    .offset.h4{
        margin-left: 4vw;
        margin-right: 4vw;
    }
    .offset.h5{
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .offset.h6{
        margin-left: 6vw;
        margin-right: 6vw;
    }
    .offset.h7{
        margin-left: 7vw;
        margin-right: 7vw;
    }
    .offset.h8{
        margin-left: 8vw;
        margin-right: 8vw;
    }
    .offset.h9{
        margin-left: 9vw;
        margin-right: 9vw;
    }
    .offset.h10{
        margin-left: 10vw;
        margin-right: 10vw;
    }
}

.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #cc0000;
}