/*GREEN BACKGROUND COLOR*/
.green.c0{
    background-color: #677761;
}
.green.c1{
    background-color: #718667;
}
.green.c2{
    background-color: #7B956D;
}
.green.c3{
    background-color: #84A472;
}
.green.c4{
    background-color: #8EB478;
}
.green.c5{
    background-color: #98C37D;
}
.green.c6{
    background-color: #A2D283;
}
.green.c7{
    background-color: #ABE188;
}
/*GREEN TEXT COLOR*/
.text-green.c0{
    color: #677761;
}
.text-green.c1{
    color: #718667;
}
.text-green.c2{
    color: #7B956D;
} 
.text-green.c3{
    color: #84A472;
}
.text-green.c4{
    color: #8EB478;
}
.text-green.c5{
    color: #98C37D;
}
.text-green.c6{
    color: #A2D283;
}
.text-green.c7{
    color: #ABE188;
}
/*RED BACKGROUND COLOR*/
.red.c0{
    background-color: #5E0013;
}
.red.c1{
    background-color: #6B0117;
}
.red.c2{
    background-color: #78021A;
}
.red.c3{
    background-color: #920320;
}
.red.c4{
    background-color: #AE0325;
}
.red.c5{
    background-color: #C9022A;
}
.red.c6{
    background-color: #E4012F;
}
.red.c7{
    background-color: #FF0033;
}
/*RED TEXT COLOR*/
.text-red.c0{
    color: #5E0013;
}
.text-red.c1{
    color: #6B0117;
}
.text-red.c2{
    color: #78021A;
}
.text-red.c3{
    color: #920320;
}
.text-red.c4{
    color: #AE0325;
}
.text-red.c5{
    color: #C9022A;
}
.text-red.c6{
    color: #E4012F;
}
.text-red.c7{
    color: #FF0033;
}